<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nickamor.movieclub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.MovieMasterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".view.MovieDetailActivity"
            android:parentActivityName=".view.MovieMasterActivity"
            android:theme="@style/AppTheme.Transparent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MovieMasterActivity" />
        </activity>

        <activity
            android:name=".view.SearchResultsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>
